src/main/mule/Global/retrieveroutesandschedule-travelontip-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
        <flow name="retrieveroutesandschedule-travelontip-sapi-main">
        <http:listener config-ref="retrieveroutesandschedule-travelontip-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieveroutesandschedule-travelontip-sapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
            
			
        </error-handler>
    </flow>
    <flow name="retrieveroutesandschedule-travelontip-sapi-console">
        <http:listener config-ref="retrieveroutesandschedule-travelontip-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieveroutesandschedule-travelontip-sapi-config" />
		<error-handler ref="globalErrorHandlerError_Handler" />
    </flow>
    <sub-flow name="retrieveroutesandschedule-travelontip-sapi-initializeRequestVariable-Sub_Flow" doc:id="2553b148-3da6-4608-a767-a93e38ad58cf" >
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:retrieveroutesandschedule-travelontip-sapi-config">
		<flow-ref doc:name="initializeRequestVariable-Flow Reference" doc:id="1b739171-f8df-400b-a596-c2962d9ec9c4" name="retrieveroutesandschedule-travelontip-sapi-initializeRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="afd0c3d0-a109-40bb-b924-6e86f2ce6484" message="Request recieved for routes on TravelOnTip SAPI  for txnId: #[vars.transactionId]"/>
		<flow-ref doc:name="TravelOnTip-GetRoutes-ImplSub_Flow" doc:id="50b7702e-f435-49d0-9f4f-470ffd01f59d" name="TravelOnTip-GetRoutes-ImplSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="dce37e3c-cd86-4527-89e0-c3031203d3c7" message="Response Sent for routes on TravelOnTip SAPI  for txnId: #[vars.transactionId]"/>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:retrieveroutesandschedule-travelontip-sapi-config">
		<flow-ref doc:name="initializeRequestVariable-Flow Reference" doc:id="59207879-1255-4b83-bc1b-694d6c83a677" name="retrieveroutesandschedule-travelontip-sapi-initializeRequestVariable-Sub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="e8795e16-2a5b-4be0-aee8-21900f5c31a2" message="Request Recieved for Schedules on TravelOnTip SAPI  for txnId: #[vars.transactionId]"/>
		<flow-ref doc:name="TravelOnTip-GetSchedules-ImplSub_Flow" doc:id="cc77d437-65e6-4f75-a2f0-98facb730469" name="TravelOnTip-GetSchedules-ImplSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="de105662-e462-4965-803b-290bf6579f71" message="Response Sent for Schedules on TravelOnTip SAPI  for txnId: #[vars.transactionId]"/>
    </flow>
</mule>
